.pill {
  display: flex;
  padding-left: 10px;
  background-color: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  &.pill--invalid {
    background-color: transparent;
    border-bottom: 1px dashed #d92929;
    border-radius: 0;
    padding: 0;
    height: 23px;

    .pill__remove {
      padding-right: 0;
    }
  }

  &__text {
    display: inline;
  }

  &__remove {
    padding: 0 8px 0 8px;
    border-radius: 0 100px 0 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
