@import './form';
@import './button';
@import '../components/text-pill/text-pill';
@import '../components/input-emails/input-emails';

body {
  font-family: Open Sans;
}

main {
  max-width: 540px;
  margin: auto;

  #replace {
    width: 100%;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #c3c2cf;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
  }
}

form {
  margin: auto;
}
